body, .body-bg {
    background-color: #9FACB9;
    font-size: min(1rem, 3vmin);
}
.hide-me { display: none !important; }
div.logo.col { padding: 0px; }
.title {
    font-size: 6vw; height: 1.3em; line-height: 1.3em;
    color: white; /* background-color: #ee6e73; */
    padding-left: 0.2em;
    text-shadow: -1px 1px 4px #000, 1px 1px 4px #000, 1px -1px 0 #000, -1px -1px 0 #000;
    position: relative;
}
.title svg { width: 6.5vw; height: 8.4vw; vertical-align: middle; }
.tilem {
    width: 6.5vw; height: 8.4vw;
    max-width: 13vh; max-height: 16.8vh;
}
.tilem3 {
    width: 19.5vw; height: 8.4vw;
    max-width: 39vh; max-height: 16.8vh;
}
.margin-r2 { margin-right: 2vw; }
nav i.material-icons { font-size: min(24px,2em);
    display: inline-block; vertical-align: bottom;
}
nav ul a { font-size: unset; padding: 0 1em; }
ul#signin-right.right li i { font-size: 1em; }
.card-bgg { background-color: #546e7a; } /* blue-grey darken-1 */
.card-content button {
    background-color: #ee6e73;
    border-radius: 1em;
    box-shadow: 0 0 1px 1px yellow;
}
input#username.in-uname { border: thin solid red; }
input#email.flag-err { box-shadow: 1px 1px 10px 4px red; }
.flag-err::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
}
.panelright { background-color: forestgreen; color: white; }
.panelleft { background-color: antiquewhite; }
span.card-title a { color: white; }
p.card-title {
    font-size: 24px; font-weight: 300;
    margin-block-start: 0em; margin-block-end: 0em;
}
i.material-icons.icon-inherit { font-size: inherit; }
.nav-bg {
    background-color: #ee6e73; box-shadow: 0 0 1px 1px white; border-radius: 8px;
}
.j-divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}
.gamepanel {
    background-color: white; padding: .2em;
}
.gamepanel div.divider { margin: 8px 0 0 0; }
.openTable th {background-color: lightslategrey; color: white; }
.privTable th {background-color: peru; color: white; }
.seriesTable th {background-color: white; color: peru; }
.usersTable th {background-color: green; color: white; }
.cTable table, .cTable th, .cTable td { border: 1px solid black; }
.cTable td, .cTable th {
    padding: 5px 5px; text-align: center;
    border-radius: 0px;
}
.privTable td[colspan] { text-align: left; }
.privTable td { background-color: #e4d2bf; }
.seriesTable td {background-color: white;
    color: peru; font-style: italic; padding: 0.1em;
}
#seriesgtable tr td:first-child{ width: 2.4em; }
th.gsLeft { padding-left: 0.8em; }
.seriesTable i.material-icons { font-size: 120%; vertical-align: bottom; }
.seriesExtras { font-size: 70%; }
td.sgseat { padding-bottom: 0px; }
.serhint { color: red; font-style: italic; font-size: 80%; }
.usersTable td { background-color: palegreen; }
.gameTableDir { padding: 0px 0.3em; box-shadow: 0 0 1pt 1pt; border-radius: 5px; }
th.gameSectionTitle { text-align: left; font-style: italic; }
button.inviteBtn {
    height: 1.6em; line-height: 1;
    border-radius: 15px;
    margin: 0px 5px 0px 0px; padding: 0px 1em;
}
button.inviteBtn { background-color: darkblue; }
.btn-sscore { border-radius: 1em; border: 1px solid black; }
.btn-sscore:hover, .btn-sscore:focus { background-color: antiquewhite;}
.btn-ser { border-radius: 1em; border: 0px solid black;
    padding: 0em 0.1em 0.0em; background-color: white;
}
.btn-ser:hover, .btn-ser:focus {
    color: limegreen; border: 0px solid black;
}
.sgseat button.btn-small { height: 1.5em; line-height: 1.5em; }
.iconBtnRed { color:darkred; cursor: pointer;}
.iconBtnRed:hover { color: red; cursor: pointer;}
.iconBtnOr { color:orangered; cursor: pointer;}
.iconBtnOr:hover { color: orange; cursor: pointer;}
.iconBtnTe { color:teal; cursor: pointer;}
.iconBtnTe:hover { color: cadetblue; cursor: pointer;}
.ser-pulse {
    box-shadow: 0 0 0 0 rgba(204,169,44, 1);
    animation: series-pulse 2s infinite;
}
.ser-pulse:hover { animation: none; }
@keyframes series-pulse {
    0% { box-shadow: 0 0 0 0 rgba(204,169,44, 1); }
    70% { box-shadow: 0 0 0 0.5em rgba(204,169,44, 0); }
    100% { box-shadow: 0 0 0 0 rgba(204,169,44, 0); }
}
.play-lg { font-size: xx-large !important; }
td.bordbot { border-bottom: black solid 2px; }
.userspanel {
    max-height: 50vh; overflow: auto;
    background-color: white; padding: .2em;
}
#diaInvite { width: max-content; max-height: 85%; }
#diaInvite h5 {
    background-color: lightblue; margin: 0px; padding: 10px;
}
#diaInviteTable th {
    background-color: blue; margin: 0px; padding: 0.3em; color: white; text-align: center;
}
#diaInviteUsers td:nth-child(2) { text-align: center; color: #9e9e9e }
#diaInvite label > span { margin-left: 1em; width: calc(100% - 2em); }
.invitee { background-color: #e6faff ; }
.invitee span { font-weight: bold; }
table.diatable { position: relative; }
.diaTable thead th { position: sticky; top: 0; }
.diaTable tbody th { background-color: black; }
.diaTable { width: max-content; }
.diaTable th, .diaTable td { text-align: center; padding: 0em 0.5em;
    border: 2px solid black;
}
.diaTable th { background-color: blue; color: white; }
.diaTable div.modal-footer { background-color: lightblue; height: auto; }
td.shWin { background-color: lightgreen; }
th.shDate { font-size: 70%; }
#scoreHistory { border: 0.5em solid orange; }
.svg-icon { display: inline-block; }
.svg-icon svg, svg.svg-icon, img.svg-icon {
    height:1.2em; width:1.2em; vertical-align: middle;
}
.iem { height:1.2em; vertical-align: middle; }
.btn-small img.svg-icon { margin: 0 -0.7em 0 0.2em; }
button.btn-small {
    height: 2.4em; line-height: 2.4em;
    font-size: 0.9em; padding: 0 1em;
}
.clearr { clear: right; }
figure { text-align: center;}
.min-content { width: min-content;}
.orangered-text { color: orangered; }
.seagreen-text {color: seagreen;}
.h-signin { width: 33vw; height: 18.7373vw; margin-left: 1em; }
.h-lobby { width: 33vw; height: 17.76vw; margin-left: 1em; }
.h-invite { width: 33vw; height: 11.536vw; margin-left: 1em; }
.h-gwindow { width: 33vw; height: 33.985vw; margin-left: 1em; }
.h-gnav { width: 33vw; height: 2.6625vw; margin-left: 1em; }
.h-ih-plays { width: 33vw; height: 26.286vw; margin-left: 1em; }
.h-dis-plays { width: 33vw; height: 20.828vw; margin-left: 1em; }
.h-dis-wait { width: 33vw; height: 20.579vw; margin-left: 1em; }
.h-draw-flower { width: 33vw; height: 17.063vw; margin-left: 1em; }
.h-ready { width: 33vw; height: 23.775vw; margin-left: 1em; }
