use { width: 100%; height: 100%; }
.tile-lg, .tile-lgo { display: inline-block; }
.tile-lg, .tile-lg svg { width: 9vh; height: 12vh; max-width: 12vw; max-height: 16vw; }
.tile-lgo, .tile-lgo svg { width: 9vh; height: 16vh; max-width: 12vw; max-height: 21.33vw; }
.tile-m, .tile-m svg { width: 6.75vh; height: 9vh; max-width: 7.8vw; max-height: 10.4vw; }
td.tile-m, td.tile-lg { display: contents; }
.unplayed-lg { width: 98vw; height: 29vh; }
.tile-anchor { position: relative; }
.tile-mv { position: absolute; top: 1vh; left: 9vh; cursor: move; }
.tile-out { position: absolute; top: 1vh; left: 1vh; }
.tile-ref { position: absolute; top: 0; left: -10vh; }
.tile-lg, .tile-lg svg,
.tile-m, .tile-m svg { margin: 0px; padding: 0px; }
#ArrowR, #ArrowL { opacity: 50% }
.robotPlayBtn {
    position: absolute; left: 3px; bottom: -0.5em;
    height: 1em;
    animation: pulse 1s infinite;
}
.tt-stack { fill: grey; cursor: pointer;}
.tt-stack:hover { fill: lightsteelblue; cursor: pointer;}
.modal0 {
    position: absolute; right: 3px; top: calc(64px + 2.2vh + 2.2vw);
    height: fit-content; background-color: bisque;
}
.modal0 h4 { margin-top: 0px; }
/* https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4 */
.svg-icon { display: inline-block; }
.svg-icon svg, svg.svg-icon, img.svg-icon {
    height:1em; width:1em; top: .125em; position: relative;
}
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#discards {
    border: white solid 2px; background-color: burlywood;
    width: auto; height: fit-content; font-size: 1.8vw;
    align-self: center; padding: 0px;
    border-collapse: separate; border-radius: 9px;
}
#discards th { padding: 0px 0px 0px 3px; border-bottom: white solid; }
#discards td { padding: 0px; }
#discards > tbody > tr > td:last-child { padding: 0px 3px 3px 3px; }
@media only screen and (max-width: 1200px) {
    #discards { font-size: 22px; }
}
@media only screen and (max-width: 800px) {
    #discards { min-width: 90vw; }
}
.flex-container {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0.2px 0.2px red;
}
.greenStripes {
    background: repeating-linear-gradient(
        45deg, green, green 10px, #208020 10px, #208020 20px
    );
}
.row .col { padding: 0px; }
.box {
    text-align: center;
    color: white;
    font-size: 3vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box-1 {
    background-color: blueviolet;
    height: 10%;
}
.box-2 {
    flex: 1;
    flex-direction: row;
    box-shadow: 0.2px 0.1px yellow;
}
.box-3 {
    min-height: 30%;
}
.box-svg-m {
    min-height: 9vh;
}
.box-svg-lg {
    min-height: 16vh;
}
.box-play {
    min-height: 30%;
}
.box-hand {
    min-height: 30vh;
    padding-bottom: 0.3em;
}
@media only screen and (max-width: 800px) {
    .box-hand { min-height: 35vh; }
}
.nav-wrapper { padding: 0px 0.3em; }
.dropdown-content { background-color: #ee6e73; }
.dropdown-content li > a { color: white; }
i.material-icons.right.helpdd { margin-left: 0px; }
.gameTable th {background-color: lightslategrey; color: white; }
.privTable th {background-color: peru; color: white; }
.gameTable table, .privTable table,
.gameTable th, .privTable th, .privTable td,
.gameTable td { border: 1px solid black; }
.gameTable td, .privTable td, .privTable th,
.gameTable th {
    padding: 5px 5px; text-align: center;
    border-radius: 0px;
}
.privTable td[colspan] { text-align: left; }
.privTable td { background-color: #e4d2bf; }
.gameTableDir { padding: 0px 0.3em; box-shadow: 0 0 1pt 1pt; border-radius: 5px; }
th.gameSectionTitle { text-align: left; font-style: italic; }
#scoreHbody > tr > td { padding: 0px 5px; }
.play-lg { font-size: xx-large !important; }
#sidenav-r { width: 30em; max-width: 50%; }
.top-info {
    background-color: burlywood; color: black;
    border: white solid 2px; border-radius: 10px;
    width: fit-content; display: inline-block;
    line-height: 1.3; padding: 0px 0.3em 2px 0.3em;
}
.contractSuit { border-radius: 6px; }
.cSuitBox { box-shadow: 0pt 0pt 1pt 0pt black; }
.aRight { align-self: flex-end; }
.mt1p { margin: 1vh 1vh; }
.h100p { height: 100%; }
.w100p { width: 100%; }
.row { margin-bottom: 0px; }
.nb-active { background-color: yellow; }
.nb-inactive { background-color: lightsteelblue; }
.nb-kitty { background-color: burlywood; }
.namebar {
    position: relative;
    font-size: 3vh; line-height: normal;
    border: black solid 1px; text-align: left; padding: 0px;
}
.box-svg-m .namebar { max-width: 27vw; }
.namebar i { font-size: 3vh; }
.seatdir {background-color: teal; color: white; padding: 0px 0.2em; }
.seatdir.NS, .seatdir.EW { border-right: double; }
.seatname { margin-left: 0.2em; color: black; }
.NS, .NS.gameTableDir { background-color: darkred; color: white; }
.EW, .EW.gameTableDir { background-color: white; color: black; }
.table-svg-m, .table-svg-k {
    width: auto; height: fit-content;
    font-size: 0px; border: none;
}
.table-svg-m { align-self: center; }
.table-svg-k { align-self: flex-end; margin-bottom: 5vh; }
.table-svg-lg {
    width: auto; height: fit-content;
    align-self: center; font-size: 0px;
    border: none; position: relative;
}
#hand-sort {
    position: absolute; right: -5px; top: -5px;
    height: 5vh; width: 5vh;  max-width: 10vw; max-height: 10vw;
    font-size: 2.5vh; text-align: center; line-height: 5vh;
}
.hide-me { display: none; }
.bid-self {
    background-color: bisque; border: white solid 2px; border-radius: 9px;
    font-size: 5vh; height: 1.9em; padding: 0px 0.4em; margin-top: 0.2em;
}
@media only screen and (max-width: 800px) {
    div.bid-self button.btn {
        height: 6vmin; line-height: 6vmin;
        font-size: 2.2vmin;
    }
}
.bid-table {
    background-color: slategray; border: white ridge 2px;
    width: auto; height: fit-content; align-self: center;
    padding: 0px 0.4em;
}
.bid-table td, .playEnd th, .playEnd td,
.bid-table th {
    padding: 0px 5px; border-radius: 0px;
    text-align: center; min-width: 2.5em;
}
.bid-table td, .bid-table th { font-size: 2.8vw; }
.playEnd th, .playEnd td { font-size: 2.8vmax; }
@media only screen and (max-width: 600px) {
    .bid-table td, .bid-table th { font-size: 3.8vw; }
    .playEnd th, .playEnd td { font-size: 24px; }
}
.pair-ew { background-color: white; color: black; }
.pair-ns { background-color: darkred; color: white; }
.play-area, .play-area svg { width: 20.4vh; height: 27.3vh; align-self: center; }
.play-trick, .play-trick svg { width: 29.4vh; height: 39.3vh; align-self: center; }
.playEndInner th.pair-ew, .playEndInner th.pair-ns { border-radius: 9px; }
.playEndInner {
    background-color: bisque; border-radius: 9px;
    margin: 0.3em 0px 0.2em 0px;
}
.playEndInner tr:nth-child(3) {
    background-color: burlywood;
}
.ptsWin { animation: tada 1s infinite; text-shadow: 0pt 0pt 4px white; }
.animYourPlay {
    animation: fadeIn 4s cubic-bezier(0.95, 0.05, 0.795, 0.035), flash 4s ease 4s infinite;
}
.bordleft { border-left: black dashed 1px; }
td.bordbot { border-bottom: black solid 2px; }
tr.bordtop { border-top: black solid 3px; }
.diaTable h3, .diaTable h4 {
    background-color: lightblue; text-align: center;
    margin-bottom: 0px; padding: 0px 1em 0.2em 1em;
}
.diaTable { width: max-content; }
.diaTable th, .diaTable td { text-align: center; }
.diaTable div.modal-footer { background-color: lightblue; }
tr.pastGames { background-color: burlywood; }
.winCell { background-color: lightgreen; }
#rankTable th { background-color: blue; color: white; }
#rankTable table, #rankTable th, #rankTable td {
    border: black solid 1px; padding: 0px 0.3em;
}
#totEW { background-color: white; border-radius: 5px; box-shadow: 0 0 2pt 2pt black; }
#totNS {
    background-color: darkred; color: white;
    border-radius: 5px; box-shadow: 0 0 2pt 2pt white;
}
.infoTbl th, .infoTbl td { padding: 0px 0px; text-align: center; }
.infoTbl tr { border-bottom: none;}
table.infoTbl tbody:first-child tr:first-child td:first-child { border-bottom: 3px solid black;}
#infoTd1 { padding-bottom: 4px; min-width: 6em; border-bottom: none; }
#totSpc, #totSpc button { width: 2em; padding: 0px 0.3em; }
svg.totPts { width: 2vw; height: 2vw; }
span.totPtsVal { line-height: 1.2; vertical-align: text-top; }
#hand svg.slideOutUp {
    animation-duration: 100ms;
}
#diaInvite { width: max-content; max-height: 85%; }
#diaInvite h5 {
    background-color: lightblue; margin: 0px; padding: 10px;
}
#diaInviteTable th {
    background-color: blue; margin: 0px; padding: 0.3em; color: white; text-align: center;
}
#diaInviteUsers td:nth-child(2) { text-align: center; }
#diaInvite label > span { margin-left: 1em; width: calc(100% - 2em); }
button.inviteBtn {
    height: 1.6em; line-height: 1;
    border-radius: 15px; background-color: darkblue;
    margin: 0px 5px 0px 0px; padding: 0px 1em;
}
.iconBtn { color: grey; cursor: pointer;}
.iconBtn:hover { color: lightcoral; cursor: pointer;}
.crowncl, .info-crowncl { color: blue; }
