body, .body-bg {
    background-color: #9FACB9;
}
.draggable, .dragparent {
    cursor: move;
}
button.btn > span > a {
    color: white; font-size: 1.3rem;
}
i.material-icons { font-size: inherit; }
div.logo.col { padding: 0px; }
.title {
    font-size: 6vw; height: 1.3em; line-height: 1.3em;
    color: white; /* background-color: #ee6e73; */
    padding-left: 0.2em;
    text-shadow: -1px 1px 4px #000, 1px 1px 4px #000, 1px -1px 0 #000, -1px -1px 0 #000;
    position: relative;
}
a.ahelp { font-size: 3vw; color: white;}
.nav-bg, .opt-bg {
    margin-top: 0.3em;
    border-radius: 4px;
}
.nav-bg { font-size: 2.3vw; }
.opt-bg { background-color: wheat; font-size: 1.6vw; }
.nav-bg-min, .nav-bg { background-color: #ee6e73; box-shadow: 0 0 1px 1px white; }
div.cc-selector {
    display: inline-block;
    font-size: 2.2vh;
}
.cc-selector input {
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.cc-selector input:active +.label-cc, .cc-selector input:active +.label-pm {
    opacity: .9;
}
.cc-selector input:checked +.label-cc, .cc-selector input:checked +.label-pm {
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.cc-selector input:checked +.label-cc {
    outline: 1px solid white;
    color: white;
}
.cc-selector input:checked +.label-pm {
    outline: 1px solid white;
    color: white;
    background-color: limegreen;
}
.label-cc, .label-pm {
    cursor:pointer;
    background-size:contain;
    display:inline-block;
    text-align: center;
    outline: 1px solid grey;
}
.label-cc {
    width: 3em; height: 1.6em; font-size: 1.3em;
    color: wheat;
}
.label-pm {
    width: 2em;
    color: lightgray; background-color: rgb(239, 239, 239);
    height: 3.2vh; line-height: 3.2vh;
}
.label-cc:hover, .label-pm:hover {
    outline: 1px dotted white;
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
p { font-size: 1.2em; }
#img_url {
    font-size: 80%; color: wheat;
}
button.btn-small {
    height: 1.7em;
    line-height: 1.5em;
}
.flex-container { display: flex; flex-flow: column; height: 260px;}
.flex-fixed { flex: 0 0 auto; }
.flex-remainder { flex: 1 0 auto; }
body.zero {
    display: flex;
    flex-flow: column;
    height: 100vh;
}
.zero {
    margin: 0px; padding: 0px;
}
.ptop {
    background-color: #ee6e73; width: 100vw;
    height: 0.5vh; flex: 0 0 auto;
}
.pbottom {
    background-color: #ee6e73; width: 100vw;
    flex: 1 0 auto; /* fill remaining vertical space in bottom bar */
}
.pmenu {
    background-color: wheat; width: 100vw;
    height: 4vh; flex: 0 0 auto;
    outline: 1px solid black;
}
button.menu-btn{
    height: 3.2vh; font-size: 1.8vh; line-height: 1.8vh;
    margin: 0.4vh 1vw 0.4vh 1vw;
}
#puzzlecontainer {
    flex: 0 0 auto;
}
svg circle {
    cursor: pointer;
    fill: white;
}
svg circle:hover {
    fill: red;
}
path#xpath {
    cursor: pointer;
    stroke: black;
}
path#xpath:hover {
    stroke: red;
}
/* slide-out panel layout mechanics */
.panel-wrap {
    position: fixed;
    top: 4.5vh;
    bottom: 0;
    left: 0;
    width: 30em;
    transform: translateX(-100%);
    transition: .3s ease-out;
}
.panel {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: #444; color: white;
    overflow: auto; padding: 1em;
    font-size: 1em;
}
.panel h3 {
    font-size: 1.5em; color: wheat;
}
button.menu-btn.settings ~ .panel-wrap {
    transform: translateX(0%);
}
.settings {
    background-color: #ee6e73;
}
.j-divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}
.s1tall {
    height: 20em;
    margin-top: 1em;
}
.btn-img-from, .btn-img-resume {
    width: 100%;
    margin-bottom: 1em;
}
.btn-img-from { background-color: maroon; }
.btn-img-from:hover { background-color: crimson; }
.from-btns { width: 14em; }
.from-preview {
    width: calc(100% - 14em);
    text-align: center;
    vertical-align: middle;
}
#img-custom {
    max-height: 100%; max-width: 100%;
    box-shadow: 0 0 1em 0px black;
}
.img-wide { width: 100%; height: auto; }
.img-tall { height: 100%; width: auto; }
.right { float: right; }
.gspan {
    background-color: lightgray;
    outline: 1px solid black;
    padding: 0 0.2em;
}
.bspan {
    background-color: #26a69a; color: white; padding: 0 0.2em;
    box-shadow: 0 0 2px 0px black;
}
.left { float: left; margin-right: 2em; }
.ul-indent { overflow: hidden; }
.clear-left { clear: left; }
.mw25 { max-width: 25vw; }
#moreImages { max-height: 90vh; width: 80vw; }
.mi-preview-container { height: 99%; text-align: center; margin-top: 0.1%; }
#moreImagesPreview { max-height: calc(99% - 2em);}
img.more-images {
    width: 31%; height: auto; max-height: 12vw;
    margin: 1% 1%;
    box-shadow: 0 0 4px 1px black;
    vertical-align: middle;
}
.row.dia-heading { height: 3em; margin-bottom: 1vh; }
.row.dia-body { height: calc(87vh - 3em); margin-bottom: 1vh; }
#div_mi_catalog {
    height: 99%;
    overflow-x: hidden; 
    overflow-y: auto;
}
.ml1 { margin-left: 0.3em; color: red; }
.dia-btn { font-size: larger; }
#input_paste { background-color: white; margin-top: 2px; }
.paste-bg { background-color: antiquewhite; }
.mb { margin-bottom: 0.3em; }
@keyframes resume_btn_anim {
    from {box-shadow: 0 0 8px 0px yellow;}
    to {box-shadow: 0 0 8px 5px yellow;}
}
#resume_btn {
    animation: resume_btn_anim 1s linear 0s infinite alternate;
    box-shadow: 0 0 8px 0px yellow;
}
