body {
    background-color: rgb(159, 172, 185);
}
div.logo.col { padding: 0px; }
.title {
    font-size: 6vw; height: 1.3em; line-height: 1.3em;
    color: white; /* background-color: #ee6e73; */
    padding-left: 0.2em;
    text-shadow: -1px 1px 4px #000, 1px 1px 4px #000, 1px -1px 0 #000, -1px -1px 0 #000;
    position: relative;
}
.xfan5s {
    width: 26vw; height: 12vw; margin-top: 1vw;
    max-height: 24vh; max-width: 52vh;
}
div.xfan5div {
    position: absolute; right: 2em; top: 0.2em;
    background-color: green; border-radius: 50%;
    width: 28vw; height: 16vw; max-height: 28vh;
    text-align: center;
}
nav i.material-icons {
    display: inline-block; vertical-align: bottom;
}
.grayStripes {
    background: repeating-linear-gradient(
        45deg, slategray, slategray 10px, #789 10px, #789 20px
    );
}
.card-bgg { background-color: #546e7a; } /* blue-grey darken-1 */
span.card-title a { color: white; }
.panelright { background-color: forestgreen; color: white; }
p.card-title {
    font-size: 24px; font-weight: 300;
    margin-block-start: 0em; margin-block-end: 0em;
}
i.material-icons.icon-inherit { font-size: inherit; }
.nav-bg {
    background-color: #ee6e73; box-shadow: 0 0 1px 1px white; border-radius: 8px;
}
span.inviteBtn {
    height: 1.6em; line-height: 1;
    border-radius: 15px; background-color: darkblue; color: white;
    margin: 0px 5px 0px 0px; padding: 0px 1em;
}
